<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="currentDirectory" value="X:\Languages\C#\BasicSnippingTool\bin\Debug" />
  <add key="screenshotFolderPathCustom" value="X:\Languages\C#\BasicSnippingTool\bin\Debug\AppConfig\Screenshots" />
 </appSettings>
</configuration>